@font-face {
    font-family: "ふてほど丸ゴシック";
    src: url("./fonts/Futehodo-MaruGothic.ttf") format("truetype");
}


/* 全体 */
body {
    margin: 0;
    background-image: url("./images/うさぎ２.png");
    background-size: cover;
    background-position: center 30%;
    background-attachment: fixed;
    font-family: "ふてほど丸ゴシック";
}


/* タイトル */
header {
    text-align: center;
    padding: 20px;
}


/* 左右レイアウト */
.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    margin: 40px;
}


/* うさぎ一覧 */
.left {
    flex: 1;
    max-width: 900px;
    transform: translateX(-30px);

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}


/* うさぎカード */
.rabbit-card {
    background: rgba(255, 255, 255, 0.75);
    padding: 15px;
    border-radius: 20px;
    text-align: center;
}


/* 写真 */
.rabbit-image {
    margin-bottom: 10px;
}


.rabbit-image img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 15px;
}


/* 説明 */
.rabbit-text {
    padding: 5px;
}


.rabbit-text h2 {
    font-size: 18px;
    margin: 10px 0;
}


.rabbit-text p {
    line-height: 1.6;
    font-size: 14px;
}


/* メニュー側 */
.right {
    width: 220px;
    min-height: auto;

    background: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 20px;

    transform: translateX(20px);
}


/* メニュー項目 */
.right section {
    text-align: left;
    margin-bottom: 25px;
}


/* 見出し */
h2 {
    margin-top: 0;
}


/* 検索欄*/
input {
    width: 120px;
    padding:7px;
    border-radius: 10px;
    border: 1px solid #ccc;
}


/* ボタン */
button {
    padding: 8px 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}


/* スマホ */
@media (max-width: 768px) {

    .container {
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }

    .left {
        width: 100%;
        max-width: none;
        transform: none;

        grid-template-columns: 1fr;
    }

    .right {
        width: 100%;
        max-width: 400px;
        transform: none;
    }

}